@mixin link ($margin-right: 15px) {
    margin-right: $margin-right;
    cursor: pointer;
}

@mixin link-hover {
    text-decoration: underline;
  }

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  height: 65px;

  &__link-mail {
    @include link;

    &:hover {
      @include link-hover;
    }
  }

  &__link-img {
    @include link(25px);

    &:hover {
      @include link-hover;
    }
  }

  &__avatar {
    cursor: pointer;
    height: auto;
    border-radius: 50%;
    height: 32px;
    margin-right: 12px;
  }

  &__hamburger {
    width: 24px;
    margin-right: 25px;
    height: 24px;
    background-image: url('../../images/hamburger.svg');
    cursor: pointer;
  }
}
