/* :root {
    --text-decoration: underline;
} */

@mixin link ($margin-right: 15px) {
    margin-right: $margin-right;
    cursor: pointer;
}

/* @mixin link-hover {
    text-decoration: underline;
  } */

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  height: 65px;

  &__link-mail {
    margin-right: 15px;
    cursor: pointer;
    /* @include link; */

    &:hover {
      text-decoration: underline;
    }
  }

  &__link-img {
    margin-right: 25px;
    cursor: pointer;
    /* @include link(25px); */

    &:hover {
      text-decoration: underline;
    }
  }

  &__avatar {
    cursor: pointer;
    height: auto;
    border-radius: 50%;
    height: 32px;
    margin-right: 12px;
  }

  &__hamburger {
    width: 24px;
    margin-right: 25px;
    height: 24px;
    background-image: url('../../images/hamburger.svg');
    cursor: pointer;
  }
}
